<div class="container-fluid">
  <mat-toolbar class="app-toolbar" color="primary">
    <div class="app-toolbar__nav">
      <button class="app-toolbar__nav-button" mat-icon-button 
        *ngIf="router.isActive('/', true)"
        [ngStyle]="{'display': (isMobile()) ? 'block' : 'none'}"
        (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
      <button class="app-toolbar__nav-button" mat-icon-button 
        *ngIf="router.isActive('/watch', false)"
        [ngStyle]="{'display': (isMobile()) ? 'block' : 'none'}"
        [routerLink]="['/']">
          <mat-icon>arrow_back</mat-icon>
      </button>
      <a class="app-toolbar__nav-link"
        [routerLink]="['/']">
        {{title}}
      </a>
    </div>
    <app-search></app-search>
  </mat-toolbar>
  <mat-drawer-container class="app">
    <mat-drawer class="app-drawer" #drawer
      [opened]="!isMobile()" 
      [mode]="(isMobile()) ? 'over' : 'side'">
      <app-categories [drawer]="drawer" [isMobile]="isMobile()"></app-categories>
    </mat-drawer>
    <mat-drawer-content class="app-drawer-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
