<form>
    <mat-form-field floatLabel="never" class="search-field">
        <input type="text" 
            placeholder="Busque pelo filme..." 
            matInput [formControl]="formControl"
            autocomplete="off"
            [matAutocomplete]="auto">
        <mat-autocomplete
            autoActiveFirstOption 
            #auto="matAutocomplete" 
            showPanel="false"
            [displayWith]="displayWith"
            (optionSelected)="navigate($event.option.value.id)">
            <mat-option *ngFor="let option of filteredOptions | async" 
                [value]="option">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
