.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.movie {
    display: inline-block;
    margin: 10px;
    width: 220px;
}

@media (max-width: 576px) {
    .movies {
        justify-content: center;
        margin-bottom: 55px;
    }

    .movie {
        display: inline-block;
        margin: 10px;
        width: 100%;
    }
}
