html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  overflow-y: hidden;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.mat-card {
  padding: 10px;
}

.mat-card-header {
  margin-bottom: 8px !important;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-card-subtitle {
  font-size: 14px;
}

.mat-card-content {
  margin-bottom: 0 !important;
}

.mat-list-base {
  padding-top: 30px !important;
}

@media (max-width: 576px) {
  .mat-form-field-infix {
    border-top: 0 !important;
  }
}
